/* Configuração geral do site */
* {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: #ffffff;
}

body {
    width: 80vw;
    margin: -20px auto;
    background-color: #4169e1;
    padding: 0px 20px 20px 20px;
}

main, h2 {
    padding: 20px 0;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 20px 0;
    text-shadow: 3px 3px 1px #000000;
}

h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 1px #000000;
}

h3 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #000000;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    color: #00ffff;
}

p, li, label {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000000;
}

li {
    list-style: none;
}

#lista-1 li {
    color: #f5f5f5;
}

#lista-2 li {
    color: #00ffff;
}

input, textarea {
    color: darkslategrey;
}

button {
    color: #4169e1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

footer {
    padding: 20px 0;
}

footer ul li {
    color: #f5f5f5;
}